{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

<!-- Import macros -->

{% from 'macros.html' import modalCancelMacro with context %}

{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import groupsTableMacro with context %}
{% from 'macros.html' import patternsTableMacro with context %}
{% from 'macros.html' import patientInfoMacro with context %}
{% from 'macros.html' import viewEpisodesTableMacro with context %}
{% from 'macros.html' import addUrlPrefixMacro with context %}
{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import linkPatternsMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ addUrlPrefixMacro(ASSET_URL) }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ addUrlPrefixMacro(ASSET_URL) }}"></script>
    {% endassets %}

    <!-- Multiselect, accordion and general scripts -->
    <script type="text/javascript" charset="utf-8">

    	$(document).ready(function() {
            window.history.pushState({}, document.title, "{{ addUrlPrefixMacro(url_for('patients.viewPatient', idPatient=patientInfo.id)) }}");    	
    	
            $('#patientsSelect').multipleSelect();
            $('#groupsSelect').multipleSelect();
            $('#intensitiesSelect').multipleSelect();
            $('#paginationSelect').multipleSelect();
    	
        	document.getElementById("boxLinkPatterns").style.display = "none";
    	});

        function modifyPatientInfo(){
            location.href = "{{ addUrlPrefixMacro(url_for('patients.modifyPatient', idPatient=patientInfo.id)) }}"
        }

        function newPattern(){
            location.href = "{{ addUrlPrefixMacro(url_for('patients.registerPatternPatient', idPatient=patientInfo.id)) }}";
        }

        function linkPattern(){
            location.href = "{{ addUrlPrefixMacro(url_for('patients.linkPatternsPatient', idPatient=patientInfo.id)) }}";
        }

        function unlinkPattern(pattId){
            location.href = "{{ addUrlPrefixMacro(url_for('patients.viewPatient', idPatient=patientInfo.id)) }}?unlinkPatt=" + pattId;
        }
        
        function episodesFunc(){

            var urlParameters =  "?time1=" + document.getElementById("time1").value + "&time2="+document.getElementById("time2").value+"&date1="+document.getElementById("date1").value+"&date2="+document.getElementById("date2").value;

            $.ajax({
                url: "/termoira/ajax/episodiosPaciente/{{patientInfo.id}}" + urlParameters,
                data: $('form').serialize(),
                type: 'POST',
                success: function(response){
                    console.log("DEBUG: response code is OK");
                    if(response["code"] == 1){
                        updateTableEpisodes(response["episodes"]);
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        }

        function updateTableEpisodes(message){
            var bodyContent = "";

            if(message["numberTotalRows"] > 0){
               //var rows = message["rowEpisodes"].split(";");

                console.log(message["rowEpisodes"].length);

                for(i=0; i<message["rowEpisodes"].length; i++){
                    //var cols = message["rowEpisodes"][i].split(",");

                    bodyContent += "<tr>"
                    
                    //FirstDate
                    bodyContent += "<td>"+message["rowEpisodes"][i]["firstDate"]+"</td>";
                    //FirstTime
                    bodyContent += "<td>"+message["rowEpisodes"][i]["firstTime"]+"</td>";
                    //LastDate
                    bodyContent += "<td>"+message["rowEpisodes"][i]["lastDate"]+"</td>";
                    //Duration
                    bodyContent += "<td>"+message["rowEpisodes"][i]["duration"]+"</td>";
                    //Cause
                    bodyContent += "<td>"+message["rowEpisodes"][i]["cause"]+"</td>";
                    //View episode
                    
                    bodyContent += "<td><a href={{ addUrlPrefixMacro(url_for('patients.viewOneEpisode'))}}?idPatient={{patientInfo.id}}&timestampFrom="+message["rowEpisodes"][i]["timestampFrom"]+"&timestampTo="+message["rowEpisodes"][i]["timestampTo"]+" style='color:#3273dc'><i class='fas fa-eye'></i>Ver</a></td>";
                    
                    bodyContent += "</tr>"
                }
            }

            $("#episodesTable tbody").html(bodyContent);

            document.getElementById("numberRowsEpisodes").value = message["numberTotalRows"];

            if(document.getElementById("date1").value.length == 0){
                document.getElementById("date1").value = "2000-01-01";
                document.getElementById("time1").value = "00:00";
            } else if(document.getElementById("time1").value.length == 0){
                document.getElementById("time1").value = "00:00";
            }

            if(document.getElementById("date2").value.length == 0){
                document.getElementById("date2").value = "2050-01-01";
                document.getElementById("time2").value = "23:59";
            } else if(document.getElementById("time2").value.length == 0){
                document.getElementById("time2").value = "23:59";
            }
        }
        
        function linkPatternsVisibility(){
            if(document.getElementById("boxLinkPatterns").style.display == "none"){
                document.getElementById("modifyPatternVisibilityBtn").className = "button is-link";            
                document.getElementById("modifyPatternVisibilityBtn").value = "Ocultar  ✖";
                document.getElementById("boxLinkPatterns").style.display = "block";
            } else {
                document.getElementById("modifyPatternVisibilityBtn").className = "button is-primary";            
                document.getElementById("modifyPatternVisibilityBtn").value = "Enlazar a pautas ya creadas  ✚";
                document.getElementById("boxLinkPatterns").style.display = "none";
            }   
        }
        
		function linkPatterns(){
			var checkboxes = document.getElementsByName("checkboxPattPat");
			var pattIds = "";

			for (var i=0; i<checkboxes.length; i++) {
			  if (checkboxes[i].checked) {
			    pattIds += checkboxes[i].id.replace("checkbox_", "") + ",";
			    checkboxes[i].checked = false;
			  }
			}

			if(pattIds.length > 0){
				pattIds = pattIds.substring(0, pattIds.length-1);

				location.href = "{{ addUrlPrefixMacro(url_for('patients.viewPatient', idPatient=patientInfo.id)) }}" + "?linkPattIds=" + pattIds;

        		generateNotification("success", "Pautas vinculadas correctamente al paciente");
			
			} else {
				generateNotification("alert", "No se ha seleccionado ninguna pauta");
			}
		}        

    </script>    

{% endblock %}

{% block content %}
<!-- Modal[Cancelar] -->
{{ modalCancelMacro() }}

{{ breadCrumbMacro(rowsBreadCrumb, patientInfo.name + ' ' + patientInfo.surname1) }}

{{ titleMacro(patientInfo.name + ' ' + patientInfo.surname1) }}

<div class="columns is-vcentered is-centered">
    <div class="column is-8" align="center">
        <article class="card is-rounded">
            <div class="card-content">
                {{ patientInfoMacro(patientInfo) }}

                <br>

                <div id="divBtns" align="center">
                    <input class="button is-primary" id="saveBtn" name="saveBtn" onclick="modifyPatientInfo()" type="button" value="Modificar">
                </div>

                <div style='max-width:400px'><hr></div>

                <div class="box" style='max-width:1300px' align="center">
                    <h4 class="title is-4 is-spaced">Pautas asociadas</h4>
                    {% if rowsPatterns|length > 0 %}
                        {{ patternsTableMacro(rowsPatterns, 0, 1) }}
                    {% endif %}

                    Número de registros totales: <b>{{ numberRowsPattern }}</b>
                    {% if pagesPatterns > 1 %}
                        <br>
                        {{ form3.pagination.label }} &nbsp;&nbsp; {{ form3.pagination }}
                    {% endif %}

                    <br><br>

                    {{ form.newPatternBtn }}
                    
                    <br><br>
                    
                    <div align="center">
                        <input class="button is-primary" id="modifyPatternVisibilityBtn" onclick="linkPatternsVisibility()" type="button" value="Enlazar a pautas ya creadas&nbsp;&nbsp;✚">
                    </div>
                    
                    <br>                    

                    <div class="box" id="boxLinkPatterns" style='max-width:1000px'>
                        {{ linkPatternsMacro(form5, form6, rowLinkPatt, numberTotalRowsLinkPatt, numberPagesLinkPatt) }}
                    </div>                    

                </div>                

                <div style='max-width:400px'><hr></div>


                <div class="box" style='max-width:1300px' align="center">
                    <br>

                    <div class="columns is-centered">
                        <div class="column is-5" align="center">
                            <h3 class="title is-3">Episodios del paciente</h3>
                        </div>
                    </div>

                    <br>

                    <div class="columns is-centered">

                        <div class="column is-5" align="center" style="border-right: 0.5px solid #e4e4e4;">
                            <h5 class="title is-5">Filtrar episodios</h5>
                                <form action="" id="episodesForm" method="post" novalidate>
                                    {{ form4.hidden_tag() }}
                                    {{ form4.csrf_token }}

                                    <!-- FROM -->
                                    
                                    <br>
                                    
                                    <div class="columns is-centered is-vcentered">
                                        <div class="colunm is-1">
                                            <b>Fecha</b>:&nbsp;&nbsp;&nbsp;Desde&nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="colunm is-4">
                                            {{ form4.date1 }}
                                            {% for error in form4.date1.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}                                        
                                        </div>
                                        <div class="colunm is-1">
                                            &nbsp;&nbsp;&nbsp;Hasta&nbsp;&nbsp;&nbsp;
                                        </div>                                        
                                        <div class="colunm is-4">
                                            {{ form4.date2 }}
                                            {% for error in form4.date2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}                                        
                                        </div>                                                                                
                                    </div>
                                    
                                    <br>

                                    <!-- TO -->
                                    
                                    <div class="columns is-centered is-vcentered">
                                        <div class="colunm is-1">
                                            <b>Hora</b>:&nbsp;&nbsp;&nbsp;Desde&nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="colunm is-4">
                                            {{ form4.time1 }}
                                            {% for error in form4.time1.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}                                        
                                        </div>
                                        <div class="colunm is-1">
                                            &nbsp;&nbsp;&nbsp;Hasta&nbsp;&nbsp;&nbsp;
                                        </div>                                        
                                        <div class="colunm is-4">
                                            {{ form4.time2 }}
                                            {% for error in form4.time2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>                                                                                
                                    </div>
                                    
                                    
                                    {{ form4.searchBtn2 }}
                                </form>
                        </div>

                        <div class="column is-7 verticalLine" align="center">
                            {% if rowEpisodes|length > 0 %}
                                {{ viewEpisodesTableMacro(rowEpisodes) }}
                            {% endif %}
                            Número de registros totales: <b id="numberRowsEpisodes">{{ numberRowsEpisodes }}</b>
                            <!-- TODO: add pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}
