{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import episodesTableMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(function () {
              $('#paginationSelect').multipleSelect();
            })

        });

        function paginationFunc(){
            document.getElementById("generalForm").submit();
        }

    </script>

{% endblock %}

{% block content %}

<section id="contact" class="section section-light-grey">
    {{ titleMacro("Ver episodios de un paciente") }}
</section>

<div class="columns is-vcentered is-centered">

    <div class="column is-8 box">

        <div align="center">
            <h4 class="title is-4">Datos del paciente</h4>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Nombre</b>:&nbsp;&nbsp; {{ patientInfo.name }}
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Primer apellido</b>:&nbsp;&nbsp; {{ patientInfo.surname1 }}
            <br>
            <b> Segundo apellido</b>:&nbsp;&nbsp; {{ patientInfo.surname2 }}
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Edad </b>:&nbsp;&nbsp; {{ patientInfo.age }}
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Género </b>:&nbsp;&nbsp; 
            {% if patientInfo.gender == "M" %}
                <td>Masculino</td>
            {% else %}
                <td>Femenino</td>
            {% endif %}

        </div>

        <br>

        <!-- Filter results -->
        <div align="center" class="box">
            <h4 class="title is-4">Filtrar resultados</h4>
            <form action="" id="generalForm" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}

                <br>

                <!-- FROM -->
                <div class="columns is-vcentered is-centered">
                    <div class="column is-5">
                        <div class="columns is-vcentered is-centered">
                            <div class="column is-3">
                                {{ form.date1.label }}
                            </div>
                            <div class="column is-7">
                                {{ form.date1 }}
                                {% for error in form.date1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column is-5">
                        <div class="columns is-vcentered is-centered">
                            <div class="column is-3">
                                {{ form.time1.label }}
                            </div>
                            <div class="column is-7">
                                {{ form.time1 }}
                                {% for error in form.time1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>

                <!-- TO -->
                <div class="columns is-vcentered is-centered">
                    <div class="column is-5">
                        <div class="columns is-vcentered is-centered">
                            <div class="column is-3">
                                {{ form.date2.label }}
                            </div>
                            <div class="column is-7">
                                {{ form.date2 }}
                                {% for error in form.date2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column is-5">
                        <div class="columns is-vcentered is-centered">
                            <div class="column is-3">
                                {{ form.time2.label }}
                            </div>
                            <div class="column is-7">
                                {{ form.time2 }}
                                {% for error in form.time2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>

                <br>
                {{ form.patientId }}
                {{ form.searchBtn }}
            
            </form>

            {% if rowEpisodes|length > 0 %}
                {{ episodesTableMacro(rowEpisodes, patientInfo.id) }}
            {% endif %}

            {% if form.submitDone.data == 1 %}
                Número de registros totales: <b>{{ numberTotalRows }}</b>

                {% if numberPages > 1 %}
                    <br>
                    Página &nbsp;&nbsp;{{ form.pagination }}
                {% endif %}
            {% endif %}

        </div>

</div>

{% endblock %}
