{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import patientInfoMacro with context %}
{% from 'macros.html' import oneEpisodeTableMacro with context %}
{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import addUrlPrefixMacro with context %}

{% block head %}

    <style>
        .dotYellow {
          height: 25px;
          width: 25px;
          background-color: yellow;
          border-radius: 50%;
          border: 1px solid black;
          display: inline-block;
        }
        
        .dotOrange {
          height: 25px;
          width: 25px;
          background-color: orange;
          border-radius: 50%;
          border: 1px solid black;
          display: inline-block;
        }
        
        .dotRed {
          height: 25px;
          width: 25px;
          background-color: red;
          border-radius: 50%;
          border: 1px solid black;
          display: inline-block;
        }
    </style>

    {% assets "highchartsJs" %}
        <script type="text/javascript" src="{{ addUrlPrefixMacro(ASSET_URL) }}"></script>
    {% endassets %}

    <script>

    var data = [];

    {% for row in rowEpisodes %}
        data.push([{{row.plotDate}}, {{row.alertLevel}}]);
    {% endfor %}

        $(function() {
            var chart = new Highcharts.StockChart({
                
                chart: {
                    renderTo: 'container'
                },
                
                /*xAxis: {
                    events: {
                        afterSetExtremes: function(e) {
                            $('#report').html('<b>Set extremes:</b> e.min: '+ Highcharts.dateFormat(null, e.min) +
                                ' | e.max: '+ Highcharts.dateFormat(null, e.max));
                        }
                    }
                },*/
                
            rangeSelector: {
                buttons: [{
                    type: 'hour',
                    count: 1,
                    text: '1h'
                }, {
                    type: 'day',
                    count: 1,
                    text: '1D'
                }, {
                    type: 'all',
                    count: 1,
                    text: 'All'
                }],
                selected: 1,
                inputEnabled: false
            },
            
            tooltip: {
            
                formatter: function() {
                
                    if(this.y == 0){
                        return "Sin alertas (<span style='color:green'>◉</span>)<br>Fecha: " +  Highcharts.dateFormat('%d/%m/%Y', this.x) + "<br>Hora: " +  Highcharts.dateFormat('%H:%M:%S', this.x);
                    } else if(this.y == 1){
                        return "Alerta amarilla (<span style='color:yellow'>◉</span>)<br>Hora: " +  Highcharts.dateFormat('%H:%M:%S', this.x);
                    } else if(this.y == 2){
                        return "Alerta naranja (<span style='color:orange'>◉</span>)<br>Hora: " +  Highcharts.dateFormat('%H:%M:%S', this.x);
                    } else {
                        return "Alerta roja (<span style='color:red'>◉</span>)<br>Hora: " +  Highcharts.dateFormat('%H:%M:%S', this.x);
                    }
                }
            },
                
                series: [{
                    name: 'Nivel de alerta',
                    data: data
                }]
            });
        });
    </script>

{% endblock %}

{% block content %}

{{ breadCrumbMacro(rowsBreadCrumb, "Ver un episodio del paciente") }}

<div class="columns is-vcentered is-centered">

    <div class="column is-8 box">
        <article class="card is-rounded">
            {{ patientInfoMacro(patientInfo) }}
            <br>
        </article>

        <br>

        
        <div align="center">
            <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="container" style="height: 400px; min-width: 600px"></div>
            <div id="report" style="font: 0.8em sans-serif"></div>

            {{ oneEpisodeTableMacro(rowEpisodes) }}

            <br>
            
            <a href="{{ addUrlPrefixMacro(url_for('patients.viewPatient', idPatient=patientInfo.id)) }}"><input class="button is-light" id="returnBtn" name="returnBtn" type="button" value="Volver"></a>
        </div>
</div>



<br>

{% endblock %}
