{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import episodesTableMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(function () {
              $('#patientsSelect').multipleSelect();
              $('#paginationSelect').multipleSelect();
            })

            updatePatientValue();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        function updatePatientValue(){
            document.getElementById("patientId").value = document.getElementById("patientsSelect").value;
        }

        function paginationFunc(){
            document.getElementById("generalForm").submit();
        }

    </script>

{% endblock %}

{% block content %}

<section id="contact" class="section section-light-grey">
    {{ titleMacro("Página principal") }}
</section>

<div class="columns is-vcentered is-centered">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content" align="center">
            <p>
              <h4 class="title is-5"> <i class="fas fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Resumen de la información almacenada</h4>

              <strong>Número de pacientes</strong>: <a href="{{ url_for('patients.viewPatients') }}"> 4 (explorar&nbsp;<i class="fas fa-search" aria-hidden="true"></i>) </a> <br>
              <strong>Número de pautas almacenadas</strong>: <a href="{{ url_for('patterns.viewPatterns') }}"> 20 (explorar&nbsp;<i class="fas fa-search" aria-hidden="true"></i>) </a> <br>
              <strong>Número de grupos almacenados</strong>: <a href="{{ url_for('groups.viewGroups') }}"> 3 (explorar&nbsp;<i class="fas fa-search" aria-hidden="true"></i>) </a> <br>
            </p>
          </div>
        </div>
      </article>
    </div>
</div>

<br><br>

<div class="columns is-vcentered is-centered">
    <div class="column is-8 box" align="center">
        <br>

        <div class="columns is-vcentered is-centered">
            <div class="column is-5" align="center">
                <h3 class="title is-3">Episodios de un paciente</h3>
            </div>
        </div>

        <br>

        <div class="columns is-centered">

            <div class="column is-3" align="center">
                <div style="border-right: 0.5px solid #e4e4e4;">
                    <h5 class="title is-5">Filtrar episodios</h5>
                    <form action="" id="generalForm" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}

                        <br>


                        {{ form.patients.label }}

                        <br>

                        {{ form.patients }}
                        {% for error in form.patients.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <br><br>

                        <!-- FROM -->

                        {{ form.date1.label }}

                        <br>

                        {{ form.date1 }}
                        {% for error in form.date1.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}



                        {{ form.time1.label }}

                        <br>

                        {{ form.time1 }}
                        {% for error in form.time1.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <!-- TO -->

                        {{ form.date2.label }}

                        <br>

                        {{ form.date2 }}
                        {% for error in form.date2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}


                        {{ form.time2.label }}

                        <br>

                        {{ form.time2 }}
                        {% for error in form.time2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <br>

                        {{ form.patientId }}
                        {{ form.searchBtn }}
                    </form>
                </div>
            </div>

            <div class="column is-7" align="center">

                {% if rowEpisodes|length > 0 %}
                    {{ episodesTableMacro(rowEpisodes, patientInfo.id) }}
                {% endif %}

                {% if form.submitDone.data == 1 %}
                    Número de registros totales: <b>{{ numberTotalRows }}</b>

                    {% if numberPages > 1 %}
                        <br>
                        Página &nbsp;&nbsp;{{ form.pagination }}
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
