{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import titleMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
    	$(document).ready(function() {
    		$(function () {
    		  	$('#patientsSelect').multipleSelect();
            	$('#groupsSelect').multipleSelect();
    		})
    	});

    	function confirmSave(){
            document.getElementById("generalForm").submit();
        }

    	function cancelChanges(){
    		 window.location.href = window.location.href; //Reload page losing all form modifications
    	}
    </script>

    <!-- Modal scripts -->
    <script>
        
        function displayModalSave(){
            var modalDiv = document.getElementById("page-modal-save");
            modalDiv.style.display = "block";
        }

        function closeModalSave(){
            var modalDiv = document.getElementById("page-modal-save");
            modalDiv.style.display = "none";
        }
        
        function displayModalCancel(){
            var modalDiv = document.getElementById("page-modal-cancel");
            modalDiv.style.display = "block";
        }

        function closeModalCancel(){
            var modalDiv = document.getElementById("page-modal-cancel");
            modalDiv.style.display = "none";
        }

        function displayModalDelete(){
            var modalDiv = document.getElementById("page-modal-delete");
            modalDiv.style.display = "block";
        }

        function closeModalDelete(){
            var modalDiv = document.getElementById("page-modal-delete");
            modalDiv.style.display = "none";
        }
            
    </script>

    <!-- SocketIO -->
    <script>
    	namespace = '/editPattern';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        //Se elimina la pauta
        function deletePattern(){
            socket.emit('deletePatternEv', document.getElementById("patternId").value);
        }


        socket.on('deleted', function() {
            window.location.href = '/index?flash=editPattern';
        });
    </script>

{% endblock %}

{% block content %}	

<!-- Modal[Persist changes] -->
<div class="modal" id="page-modal-save">
    <div class="modal-background" onclick="closeModalSave()"></div>
    <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
        <br>
        <span> <b>Por favor, confirma si quieres modificar los datos de la pauta. </b></span><br><br>
        <button class="button is-primary" onclick="confirmSave();">Confirmar</button>
        <button class="button is-warning" onclick="closeModalSave()">Volver</button>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModalSave()"></button>
</div>

<!-- Modal[Cancel] -->
<div class="modal" id="page-modal-cancel">
    <div class="modal-background" onclick="closeModalCancel()"></div>
    <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
        <br>
        <span> <b>Los datos que no hayan sigo guardados se perderán. Por favor, confirma si quieres realizar esta acción. </b></span><br><br>
        <button class="button is-primary" onclick="window.location.reload();">Confirmar</button>
        <button class="button is-warning" onclick="closeModalCancel()">Volver</button>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModalCancel()"></button>
</div>

<!-- Modal[Delete] -->
<div class="modal" id="page-modal-delete">
    <div class="modal-background" onclick="closeModalDelete()"></div>
    <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
        <br>
        <span> <b>Esta acción borrará todos los datos relativos a esta pauta. ¿Estás seguro de que quieres hacer eso? </b></span><br><br>
        <button class="button is-primary" onclick="deletePattern();">Confirmar</button>
        <button class="button is-warning" onclick="closeModalDelete()">Volver</button>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModalDelete()"></button>
</div>


<!-- Title -->
{{ titleMacro("Editar una pauta") }}

<!-- Input data -->
<div class="columns is-vcentered is-centered" style="margin-top:50px">
	<div class="column is-8 box">

		<div align="center">
			<h4 class="title is-4">Datos de la pauta</h4>
		    <form action="" id="generalForm" method="post" novalidate>
		        {{ form.hidden_tag() }}
                {{ form.csrf_token }}

		        <div class="columns is-vcentered is-centered" style="margin-top:50px">
		        	<div class="column is-8">
				        <p>
				            <b>{{ form.name.label }}</b> {{ form.name(size=5, maxlength=15) }}
				            
				            {% for error in form.name.errors %}
				                <span style="color: red;">[{{ error }}]</span>
				            {% endfor %}
				        </p>
			        </div>
		        </div>

		        <br>


	            <b>{{ form.description.label }}</b> <br>
	            {{ form.description(maxlength=50) }}

		        <br>

	            <b>{{ form.intensity1.label }}</b> &nbsp;&nbsp; {{ form.intensity1 }}

		        <br>

	            <b>{{ form.intensity2.label }}</b> &nbsp;&nbsp; {{ form.intensity2 }}

		        <br>

		        <b>{{ form.intensity3.label }}</b> &nbsp;&nbsp; {{ form.intensity3 }}

		        <br>

				<div class="columns is-vcentered is-centered" style="margin-top:50px">
	              	  <div align="center">
              	  		{{ form.patients.label }} {{ form.patients }}
			        </div>
				</div>

				<br>

				<div class="columns is-vcentered is-centered">
	              	  <div align="center">
              	  		{{ form.groups.label }} {{ form.groups }}
			        </div>
				</div>
		        
		        <br>
		        
				<div id="divBtns" align="center">
			        {{ form.saveBtn }}
			        {{ form.cancelBtn }}
                    <!--<a href=/verPauta/{{form.patternId}} target="_blank"></a>-->
                    <a href=/verPauta/{{ form.patternId.data }} target="_blank">{{ form.viewBtn }}</a>
			        {{ form.deleteBtn }}
		        </div>

		    </form>
		</div>

		<br>

	</div>


</div>

{% endblock %}