{% macro addUrlPrefixMacro(text) -%}
    /termoira{{text}}
{%- endmacro -%}

{% macro breadCrumbMacro(rows, current) %}
    <br>

    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        {% for row in rows %}
            <li><a href={{addUrlPrefixMacro(row.href)}}>{{ row.name }}</a></li>
        {% endfor %}
        <li class="is-active"><a href="#" aria-current="page">{{ current }}</a></li>
      </ul>
    </nav>

{% endmacro %}

{% macro insertPatternMacro(form) %}
    <section class="accordions" id="newPatt">
        <article class="accordion is-active">
            <div class="accordion-header toggle">
              Añadir una nueva pauta para el paciente actual
              <button class="toggle" aria-label="toggle"></button>
            </div>
            <div class="accordion-body">
                <div class="accordion-content">
                    <div class="columns is-vcentered is-centered" style="margin-top:50px">
                        <div class="column is-1">
                        </div>

                        <div class="column is-8 box">

                            <div align="center">
                                <h4 class="title is-4">Añadir pauta</h4>
                                <form action="" id="generalForm2" method="post" novalidate onSubmit="submitFunc()">
                                    {{ form.hidden_tag() }}
                                    {{ form.csrf_token }}

                                    <div class="columns is-vcentered is-centered" style="margin-top:50px">
                                        <div class="column is-2">
                                        </div>
                                        <div class="column is-8">
                                            <p>
                                                <b>{{ form.patternName.label }}</b> {{ form.patternName(size=5, maxlength=15) }}
                                                
                                                {% for error in form.patternName.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div class="column is-2">
                                        </div>
                                    </div>

                                    <br>
                                        
                                    <b>{{ form.patternDescription.label }}</b> <br>
                                    {{ form.patternDescription(maxlength=50) }} 

                                    <br>
                                    <b>{{ form.patternIntensity1.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity1 }}
                                    <br>
                                    <b>{{ form.patternIntensity2.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity2 }}
                                    <br>
                                    <b>{{ form.patternIntensity3.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity3 }}
                                    <br>
                                    <br>
                                    {{ form.patternSubmit }}

                                </form>
                            </div>

                            <br>

                        </div>


                        <div class="column is-1">
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endmacro %}

{% macro patternsTableMacro(rows, edit, unlink) %}
    <div id="tablearea">
    <!--<h4 class="title is-4 is-spaced">Pacientes asociados</h4>-->
        <table class="table" id="tablePatterns" style="font-size: 18px;">
            <thead>
                {% if edit == 1 %}
                    <th align="center"> <span> Seleccionar </span></th>
                {% endif %}
                <th align="center"> <span> Nombre </span></th>
                <th align="center"> <span> Intensidad amarilla </span></th>
                <th align="center"> <span> Intensidad naranja </span></th>
                <th align="center"> <span> Intensidad roja </span></th>
                <th align="center"> <span>  </span></th>
                {% if unlink > 0 %}
                    <th align="center"> <span>  </span></th>
                {% endif %}
            </thead>
            
            <tbody>
            {% for row in rows %}
                <tr>
                    {% if edit == 1 %}
                        <td align="center"> <input type="checkbox" name="checkboxPattPat" id="checkbox_{{row.id}}"> </td>
                    {% endif %}

                    <td align="left">{{ row.name }}</td>

                    {% if row.intensity1=="No" %}
                        <td align="center"><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td align="center"><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}

                    {% if row.intensity2=="No" %}
                        <td align="center"><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td align="center"><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}

                    {% if row.intensity3=="No" %}
                        <td align="center"><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td align="center"><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}
                    <td align="center"><a href="{{addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=row.id))}}" data-tooltip="Ver"><i class='fas fa-eye'></i></a> </td>
                    {% if unlink == 1 %}
                        <td align="center" data-tooltip="Desvincular"><a onclick="unlinkPattern({{ row.id }});"><i class='fas fa-unlink'></i></a> </td>
                    {% elif unlink == 2 %}
                        <td align="center" data-tooltip="Eliminar"><a onclick="displayModalDelete('{{ row.id }}', '{{ row.name }}')" style="color:firebrick"><i class='fas fa-trash'></i> </a> </td>
                    {% endif %}
                </tr>
            {% endfor %}  
            </tbody>                 
        </table>

    </div>
{% endmacro %}

{% macro patientsTableMacro(rows, edit) %}
    <div id="tablearea">
        <table class="table" id="tablePatients" style="font-size: 18px;">
            <thead>
                {% if edit == 3 %}
                    <th align="center"> <span> Seleccionar </span></th>
                {% endif %}
                <th align="center"> <span> Paciente </span></th>
                <th align="center"> <span>  </span></th>
                {% if edit > 0 %}
                    <th align="center"> <span>  </span></th>
                {% endif %}
            </thead>
            
            <tbody>
            {% for row in rows %}
                <tr>
                    {% if edit == 3 %}
                        <td align="center"> <input type="checkbox" name="checkboxPattPat" id="checkbox_{{row.id}}"> </td>
                    {% endif %}
                    <td align="left">{{ row.surname1 }} {{ row.surname2 }}, {{ row.name }}</td>
                    <td align="center"><a href="{{addUrlPrefixMacro(url_for('patients.viewPatient', idPatient=row.id))}}" data-tooltip="Ver"><i class='fas fa-eye'></i></a> </td>
                    {% if edit == 1 %}
                        <td align="center" data-tooltip="Eliminar"><a onclick="displayModalDelete('{{ row.id }}', '{{ row.name }}', '{{ row.surname1 }}', '{{ row.surname2 }}')" style="color:firebrick"><i class='fas fa-trash'></i> </a> </td>
                    {% elif edit == 2 %}
                        <td align="center"><a onclick="unlinkPatient({{ row.id }});" data-tooltip="Desvincular"><i class='fas fa-unlink'></i></a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>                 
        </table>

    </div>
{% endmacro %}

{% macro groupsTableMacro(rows, edit) %}
    <div id="tablearea">
        <table class="table" id="tableGroups" style="font-size: 18px;">
            <thead>
                {% if edit == 3 %}
                    <th align="center"> <span> Seleccionar </span></th>
                {% endif %}            
                <th align="center"> <span> Nombre </span></th>
                <th align="center"> <span>  </span></th>
                {% if edit > 0 %}
                    <th align="center"> <span>  </span></th>
                {% endif %}                
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% if edit == 3 %}
                            <td align="center"> <input type="checkbox" name="checkboxPattPat" id="checkbox_{{row.id}}"> </td>
                        {% endif %}                    
                        <td align="left">{{ row.name }}</td>
                        <td align="center"><a href="{{addUrlPrefixMacro(url_for('groups.viewGroup', idGroup=row.id))}}" data-tooltip="Ver"><i class='fas fa-eye'></i></a></td>
                        {% if edit == 1 %}
                             <td align="center"><a onclick="displayModalDelete('{{ row.id }}', '{{ row.name }}')" style="color:firebrick" data-tooltip="Eliminar"><i class='fas fa-trash'></i></a> </td>
                        {% elif edit == 2 %}
                            <td align="center"><a onclick="unlinkGroup({{ row.id }});" data-tooltip="Desvincular"><i class='fas fa-unlink'></i></a> </td>
                        {% endif %}                        
                    </tr>
                {% endfor %}
            </tbody>                 
        </table>
    </div>
{% endmacro %}


{% macro episodesTableMacro(rows, patientId) %}
    <div id="idTable">

        <table class="table">
            <thead>
                <th align="center"> <span> Fecha de inicio </span></th>
                <th align="center"> <span> Hora de inicio </span></th>
                <th align="center"> <span> Hora de fin </span></th>
                <th align="center"> <span> Duración </span></th>
                <th align="center"> <span> Causa </span></th>
                <th align="center"> <span>  </span></th>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td align="center">{{ row.firstDate }}</td>
                        <td align="center">{{ row.firstTime }}</td>
                        <td align="center">{{ row.lastTime }}</td>
                        <td align="center">{{ row.duration }}</td>
                        <td align="left">{{ row.cause }}</td>
                        <td align="center"><a href="{{addUrlPrefixMacro(url_for('patients.viewOneEpisode')) }}?idPatient={{ patientId }}&timestampFrom={{ row.timestampFrom }}&timestampTo={{ row.timestampTo }}" data-tooltip="Ver"><i class='fas fa-eye'></i></a> </td>
                    </tr>
                {% endfor %}
            <tbody>                 
        </table>
    </div>
{% endmacro %}

{% macro oneEpisodeTableMacro(rows) %}
    <div id="idTable">

        <table class="table">
            <thead>
                <th align="center"> <span> Fecha </span></th>
                <th align="center"> <span> Hora </span></th>
                <th align="center"> <span> Nivel de alerta </span></th>
                <th align="center"> <span> Pauta sugerida </span></th>
                <th align="center"> <span> Descartada </span></th>
                <th align="center"> <span> Comentarios </span></th>
            </thead>
            <tbody>
                {% for row in rows %}
                    {% if row.alertLevel > 0 %}
                        <tr>
                            <td align="center">{{ row.date }}</td>
                            <td align="center">{{ row.time }}</td>
                            {% if row.alertLevel == 1 %}
                                <td align="center"><span class="dotYellow"></span></td>
                            {% elif row.alertLevel == 2 %}
                                <td align="center"><span class="dotOrange"></span></td>
                            {% elif row.alertLevel == 3 %}
                                <td align="center"><span class="dotRed"></span></td>
                            {% endif %}
                            <td align="center">Nombre de la pauta</td>
                            <td align="center">Sí</td>
                            <td align="left">Esta pauta no me sirvió</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            <tbody>                 
        </table>
    </div>
{% endmacro %}


{% macro titleMacro(title) %}
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">{{ title }}</h2>

            <hr width="32%" style="margin-left: 34%"/>
        </div>
    </div>
{% endmacro %}


<!-- Modals -->

<!-- Modal[Save] -->
{% macro modalSaveMacro(objType) %}
    <div class="modal" id="page-modal-save">
        <div class="modal-background" onclick="closeModalSave()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
            <br>
            <span> <b>Por favor, confirma si quieres modificar los datos {{ objType }} </b></span><br><br>
            <button class="button is-primary" onclick="confirmSave();">Confirmar</button>
            <button class="button is-warning" onclick="closeModalSave()">Volver</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalSave()"></button>
    </div>
{% endmacro %}

<!-- Modal[Cancel] -->
{% macro modalCancelMacro(objType) %}
    <div class="modal" id="page-modal-cancel">
        <div class="modal-background" onclick="closeModalCancel()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
            <br>
            <span> <b>Los datos que no hayan sigo guardados se perderán. Por favor, confirma si quieres realizar esta acción </b></span><br><br>
            <button class="button is-primary" onclick="window.location.href = '';">Confirmar</button>
            <button class="button is-warning" onclick="closeModalCancel()">Volver</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalCancel()"></button>
    </div>
{% endmacro %}

<!-- Modal[Delete] -->
{% macro modalDeleteMacro(objType) %}
    <div class="modal" id="page-modal-delete">
        <div class="modal-background" onclick="closeModalDelete()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:200px;top:30%;border-style:solid" align="center">
            <br>
            <font size="5"> <b>¿Estás seguro que quieres borrar todos los datos {{ objType }}? </b></font><br>
            <span id ="textDeleteMacro"></span><br>
            <button class="button is-primary" onclick="confirmDeleteMacro();">Confirmar</button>
            <button class="button is-warning" onclick="closeModalDelete()">Cancelar</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalDelete()"></button>
    </div>
{% endmacro %}


{% macro patientInfoMacro(patientInfo) %}
    <div align="center">
        <h4 class="title is-4">Datos del paciente</h4>

        <div class="columns is-vcentered is-centered">
            <div class="column is-5" align="right">
                <b> Nombre</b>:
                <br>
                <b> Primer apellido</b>:
                <br>
                <b> Segundo apellido</b>:
                <br>
                <b> Edad </b>:
                <br>
                <b> Género </b>:
            </div>
            <div class="column is-5" align="left">
                {{ patientInfo.name }}
                <br>
                {{ patientInfo.surname1 }}
                <br>
                {{ patientInfo.surname2 }}
                <br>
                {{ patientInfo.age }}
                <br>
                {% if patientInfo.gender == "M" %}
                    Masculino
                {% else %}
                    Femenino
                {% endif %}
            </div>
            
        </div>

    </div>
{% endmacro %}

{% macro patternInfoMacro(patternInfo) %}
    <div align="center">
        <h4 class="title is-4">Datos de la pauta</h4>

        <div class="columns is-vcentered is-centered">
            <div class="column is-5" align="right">
                <br><b> Nombre</b>:
                <br>
                <b> Descripción</b>:
            </div>
            <div class="column is-5" align="left">
			    {{ patternInfo.name }}
			    <br>
			    {{ patternInfo.description }}
            </div>
        </div>
        
        <table id="intensitiesTable" class="table">
            <thead>
                <th> Intensidad amarilla </th>
                <th> Intensidad naranja </th>
                <th> Intensidad roja </th>
            </thead>
            <tbody>
                <tr>
			        {% if patternInfo.intensity1=="No" %}
			            <td> <span style='color:red;' data-tooltip="No" class="has-tooltip-bottom"><i class='fas fa-times'></i></span> </td>
                    {% else %}
                        <td> <span style='color:green;' data-tooltip="Sí" class="has-tooltip-bottom"><i class='fas fa-check'></i></span> </td>
                    {% endif %}
                    
			        {% if patternInfo.intensity2=="No" %}
			            <td> <span style='color:red;' data-tooltip="No" class="has-tooltip-bottom"><i class='fas fa-times'></i></span> </td>
                    {% else %}
                        <td> <span style='color:green;'data-tooltip="Sí" class="has-tooltip-bottom"><i class='fas fa-check'></i></span> </td>
                    {% endif %}
                    
			        {% if patternInfo.intensity3=="No" %}
			            <td> <span style='color:red;' data-tooltip="No" class="has-tooltip-bottom"><i class='fas fa-times'></i></span> </td>
                    {% else %}
                        <td> <span style='color:green;'data-tooltip="Sí" class="has-tooltip-bottom"><i class='fas fa-check'></i></span> </td>
                    {% endif %}
                </tr>
            </tbody>        
        </table>
    </div>
    <br>
{% endmacro %}

{% macro groupInfoMacro(groupInfo) %}
    <div align="center">
        <h4 class="title is-4">Datos del grupo</h4>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Nombre</b>:&nbsp;&nbsp; {{ groupInfo.name }}
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Descripción</b>:&nbsp;&nbsp; {{ groupInfo.description }}

    </div>
{% endmacro %}

{% macro viewEpisodesTableMacro(rows) %}

    <table id="episodesTable" class="table">
        <thead>
            <th> <span> Fecha </span></th>
            <th> <span> Hora inicio </span></th>
            <th> <span> Hora fin </span></th>
            <th> <span> Duración </span></th>
            <th> <span> Causa </span></th>
            <th> <span>  </span></th>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{row.firstDate}}</td>
                <td>{{row.firstTime}}</td>
                <td>{{row.lastTime}}</td>
                <td>{{row.duration}}</td>
                <td align="left">{{row.cause}}</td>
                <td><a href="{{addUrlPrefixMacro(url_for('patients.viewOneEpisode'))}}?idPatient={{patientInfo.id}}&timestampFrom={{row.timestampFrom}}&timestampTo={{row.timestampTo}}"  data-tooltip="Ver"><i class='fas fa-eye'></i></a></td>
            </tr>
        {% endfor %}        
        </tbody>
    </table>
{% endmacro %}

{% macro linkPatternsMacro(form, form2, rowPatterns, numberTotalRows, numberPages) %}
    <div class="columns is-vcentered">

        <div class="column is-3" align="center">
        	<br>
        	<br>
        	<h5 class="title is-4">Filtrar pautas</h5>
		    <form action="" id="generalForm" method="post" novalidate onSubmit="submitFunc()" style="margin-top:-20px">
		        {{ form.hidden_tag() }}
		        {{ form.csrf_token }}
		        {{ form2.pageNumber }}
		        {{ form2.submitDone }}


        		{{ form.name.label }}

        		<br>

        		{{ form.name(style="width:170px;text-align:center;") }}
        		{% for error in form.name.errors %}
        			<span style="color: red;">[{{ error }}]</span>
        		{% endfor %}

        		<br>

        		{{ form.patients.label }}

        		<br>

        		{{ form.patients(style="width:170px") }}
        		{% for error in form.patients.errors %}
        			<span style="color: red;">[{{ error }}]</span>
        		{% endfor %}

        		<br>

        		{{ form.groups.label }}

        		<br>

        		{{ form.groups(style="width:170px") }}
        		{% for error in form.groups.errors %}
        			<span style="color: red;">[{{ error }}]</span>
        		{% endfor %}

        		<br>

        		{{ form.intensities.label }}

        		<br>

        		{{ form.intensities(style="width:170px") }}
        		{% for error in form.intensities.errors %}
        			<span style="color: red;">[{{ error }}]</span>
        		{% endfor %}

        		<br><br>

	    		{{ form.searchBtn }}
		    </form>
        </div>
        
        <div style="border-right: 0.5px solid #C0C0C0; height:200px; margin-right:30px"></div>

        <div class="column is-6" align="center">

	    	{% if rowPatterns|length > 0 %}
		    	{{ patternsTableMacro(rowPatterns, 1, 0) }}
	    	{% endif %}
	    	
	    	Número de registros totales: <b>{{ numberTotalRows }}</b>
	    	
	    	{% if numberPages > 1 %}
	    		{{ form2.pagination.label }} &nbsp;&nbsp; {{ form2.pagination }}
	    	{% endif %}

	    	<br><br>

	    	<input class="button is-link" id="linkBtn" name="linkBtn" onclick="linkPatterns()" value="Enlazar pautas">

        </div>
    </div>
{% endmacro %}
