{% macro insertPatternMacro(form) %}
    <section class="accordions" id="newPatt">
        <article class="accordion is-active">
            <div class="accordion-header toggle">
              Añadir una nueva pauta para el paciente actual
              <button class="toggle" aria-label="toggle"></button>
            </div>
            <div class="accordion-body">
                <div class="accordion-content">
                    <div class="columns is-vcentered is-centered" style="margin-top:50px">
                        <div class="column is-1">
                        </div>

                        <div class="column is-8 box">

                            <div align="center">
                                <h4 class="title is-4">Añadir pauta</h4>
                                <form action="" id="generalForm2" method="post" novalidate onSubmit="submitFunc()">
                                    {{ form.hidden_tag() }}
                                    {{ form.csrf_token }}

                                    <div class="columns is-vcentered is-centered" style="margin-top:50px">
                                        <div class="column is-2">
                                        </div>
                                        <div class="column is-8">
                                            <p>
                                                <b>{{ form.patternName.label }}</b> {{ form.patternName(size=5, maxlength=15) }}
                                                
                                                {% for error in form.patternName.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div class="column is-2">
                                        </div>
                                    </div>

                                    <br>
                                        
                                    <b>{{ form.patternDescription.label }}</b> <br>
                                    {{ form.patternDescription(maxlength=50) }} 

                                    <br>
                                    <b>{{ form.patternIntensity1.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity1 }}
                                    <br>
                                    <b>{{ form.patternIntensity2.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity2 }}
                                    <br>
                                    <b>{{ form.patternIntensity3.label }}</b> &nbsp;&nbsp; {{ form.patternIntensity3 }}
                                    <br>
                                    <br>
                                    {{ form.patternSubmit }}

                                </form>
                            </div>

                            <br>

                        </div>


                        <div class="column is-1">
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endmacro %}

{% macro patternsTableMacro(rows, edit) %}
    <h4 class="title is-4 is-spaced">Pautas asociadas</h4>
    <table class="table" id="tablePatterns">
        <thead>
            <th> <span> Nombre </span></th>
            <th> <span> Intensidad amarilla </span></th>
            <th> <span> Intensidad naranja </span></th>
            <th> <span> Intensidad roja </span></th>
            <th> <span> Ver pauta </span></th>
            {% if edit == 1 %}
                <th> <span> Editar pauta </span></th>
            {% endif %}
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.name }}</td>

                    {% if row.intensity1=="No" %}
                        <td><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}

                    {% if row.intensity2=="No" %}
                        <td><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}

                    {% if row.intensity3=="No" %}
                        <td><span style='color:red;'><i class='fas fa-times'></i></span></td>
                    {% else %}
                        <td><span style='color:green;'><i class='fas fa-check'></i></span></td>
                    {% endif %}
                    <td><a href=/verPauta/{{ row.id }} target="_blank"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>
                    {% if edit == 1 %}
                        <td><a href=/editarPauta/{{ row.id }} target="_blank"><i class='fas fa-pencil-alt'></i> &nbsp; Editar </a> </td>
                    {% endif %}
                </tr>
            {% endfor %}                                    
        </tbody>
    </table>
{% endmacro %}

{% macro patientsTableMacro(rows, edit) %}
    <div id="tablearea">
    <!--<h4 class="title is-4 is-spaced">Pacientes asociados</h4>-->
        <table class="table" id="tablePatients">
            <thead>
                <th> <span> Nombre </span></th>
                <th> <span> Primer apellido </span></th>
                <th> <span> Segundo apellido </span></th>
                <th> <span> Género </span></th>
                <th> <span> Edad </span></th>
                <th> <span> Ver paciente </span></th>
                {% if edit == 1 %}
                    <th> <span> Ver episodios </span></th>
                    <th> <span> Editar paciente </span></th>
                {% endif %}
            </thead>
            
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.surname1 }}</td>
                    <td>{{ row.surname2 }}</td>
                    {% if row.gender=="M" %}
                        <td><i class='fas fa-mars'></i> &nbsp; Masculino</td>
                    {% else %}
                        <td><i class='fas fa-venus'></i> &nbsp; Femenino</td>
                    {% endif %}
                    <td>{{ row.age }}</td>
                    <td><a href=/verPaciente/{{ row.id }} target="_blank"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>
                    {% if edit == 1 %}
                         <td><a href=/verEpisodios/{{ row.id }} target="_blank"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>
                         <td><a href=/editarPaciente/{{ row.id }} target="_blank"><i class='fas fa-pencil-alt'></i> &nbsp; Editar </a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>                 
        </table>

    </div>
{% endmacro %}

{% macro groupsTableMacro(rows, edit) %}
    <div id="idTable">

        <table class="table" id="tableGroups">
            <thead>
                <th> <span> Nombre </span></th>
                <th> <span> Ver grupo </span></th>
                {% if edit == 1 %}
                    <th> <span> Editar grupo </span></th>
                {% endif %}
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td><a href=/verGrupo/{{ row.id }} target="_blank"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>
                        {% if edit == 1 %}
                             <td><a href=/editarGrupo/{{ row.id }} target="_blank"><i class='fas fa-pencil-alt'></i> &nbsp; Editar </a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>                 
        </table>
    </div>
{% endmacro %}


{% macro episodesTableMacro(rows) %}
    <div id="idTable">

        <table class="table">
            <thead>
                <th> <span> Fecha de inicio </span></th>
                <th> <span> Fecha de fin </span></th>
                <th> <span> Alertas amarillas </span></th>
                <th> <span> Alertas naranjas </span></th>
                <th> <span> Alertas rojas </span></th>
                <th> <span> Ver episodio </span></th>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.firstDate }}</td>
                        <td>{{ row.lastDate }}</td>
                        <td>{{ row.alerts1 }}</td>
                        <td>{{ row.alerts2 }}</td>
                        <td>{{ row.alerts3 }}</td>
                        <td><a href=/verUnEpisodio?idPatient={{ row.id }}&timestampFrom={{ row.timestampFrom }}&timestampTo={{ row.timestampTo }} target="_blank"><i class='fas fa-eye'></i>Ver</a> </td>
                    </tr>
                {% endfor %}
            <tbody>                 
        </table>
    </div>
{% endmacro %}

{% macro oneEpisodeTableMacro(rows) %}
    <div id="idTable">

        <table class="table">
            <thead>
                <th> <span> Fecha </span></th>
                <th> <span> Nivel de alerta </span></th>
                <th> <span> Pauta sugerida </span></th>
                <th> <span> Descartada </span></th>
                <th> <span> Comentarios </span></th>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.date }}</td>
                        <td>{{ row.alertLevel }}</td>
                        <td>Nombre de la pauta</td>
                        <td>Sí</td>
                        <td>Esta pauta no me sirvió</td>
                    </tr>
                {% endfor %}
            <tbody>                 
        </table>
    </div>
{% endmacro %}


{% macro titleMacro(title) %}
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">{{ title }}</h2>

            <hr width="32%" style="margin-left: 34%"/>
        </div>
    </div>
{% endmacro %}


<!-- Modals -->

<!-- Modal[Save] -->
{% macro modalSaveMacro(objType) %}
    <div class="modal" id="page-modal-save">
        <div class="modal-background" onclick="closeModalSave()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
            <br>
            <span> <b>Por favor, confirma si quieres modificar los datos {{ objType }} </b></span><br><br>
            <button class="button is-primary" onclick="confirmSave();">Confirmar</button>
            <button class="button is-warning" onclick="closeModalSave()">Volver</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalSave()"></button>
    </div>
{% endmacro %}

<!-- Modal[Cancel] -->
{% macro modalCancelMacro(objType) %}
    <div class="modal" id="page-modal-cancel">
        <div class="modal-background" onclick="closeModalCancel()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
            <br>
            <span> <b>Los datos que no hayan sigo guardados se perderán. Por favor, confirma si quieres realizar esta acción </b></span><br><br>
            <button class="button is-primary" onclick="window.location.reload();">Confirmar</button>
            <button class="button is-warning" onclick="closeModalCancel()">Volver</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalCancel()"></button>
    </div>
{% endmacro %}

<!-- Modal[Cancel] -->
{% macro modalDeleteMacro(objType) %}
    <div class="modal" id="page-modal-delete">
        <div class="modal-background" onclick="closeModalDelete()"></div>
        <div class="modal-content box" style="background-color:#A9A9A9;width:800px;height:150px;top:30%;border-style:solid" align="center">
            <br>
            <span> <b>Esta acción borrará todos los datos {{ objType }}. Por favor, confirma si quieres realizar esta acción </b></span><br><br>
            <button class="button is-primary" onclick="deletePatient();">Confirmar</button>
            <button class="button is-warning" onclick="closeModalDelete()">Volver</button>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModalDelete()"></button>
    </div>
{% endmacro %}