{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}
{% from 'macros.html' import breadCrumbMacro with context %}

{% block head %}

    <script type="text/javascript" charset="utf-8">
        function returnPage(){
            location.href = location.protocol + '//' + location.host + "/verPaciente/" + location.pathname.split("/")[2] + location.search;
        }

        function submitFunc(){
            document.getElementById("generalForm").submit();
        }
    </script>

{% endblock %}

{% block content %}

{{ breadCrumbMacro(rowsBreadCrumb, "Modificar paciente") }}

<section id="contact" class="section section-light-grey">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Modificar paciente</h2>
            <hr width="32%" style="margin-left: 34%"/>
        </div>
    </div>
    <div class="hero-body" style="margin-top:-40px">
        <div class="container">
            <div class="columns is-centered"">
                <article class="card is-rounded">
                    <div class="card-content">
                        <form action="" method="post" id="generalForm" novalidate>
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="name" name="name" class="input is-medium" placeholder="Nombre" style="text-align:center;" size="32" value={{ form.name.data }}>

                                    {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="surname1" name="surname1" class="input is-medium" placeholder="Primer apellido" style="text-align:center;" size="32" value={{ form.surname1.data }}>

                                    {% for error in form.surname1.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="surname2" name="surname2" class="input is-medium" placeholder="Segundo apellido" style="text-align:center;" size="32" value={{ form.surname2.data }}>

                                    {% for error in form.surname2.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="age" name="age" class="input is-medium" placeholder="Edad" style="text-align:center;" size="32" value={{ form.age.data }}>

                                    {% for error in form.age.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <br>

                            <div class="field" align="center">
                                <div class="columns is-centered"">
                                        {{ form.gender.label }}: &nbsp;&nbsp;&nbsp;&nbsp;

                                        {% for subfield in form.gender %}
                                            {{ subfield }} &nbsp;&nbsp;
                                            {{ subfield.label }}
                                            &nbsp;&nbsp;
                                        {% endfor %} 
                                </div>
                            </div>

                            <br>

                            <div align="center" id="buttonDiv">
                                {{ form.modifyBtn }}
                                {{ form.returnBtn }}
                            </div>
                        </form>

                    </div>
                </article>

                <br>    
                
            </div>
        </div>
    </div>
</section>

{% endblock %}