{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import groupInfoMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$(function () {
			  $('select').multipleSelect()
			})
		});
	</script>

	<script type="text/javascript" charset="utf-8">
		function returnPage(){
			location.href = location.protocol + '//' + location.host + "/verGrupo/" + location.pathname.split("/")[2] + location.search;
		}
	</script>

{% endblock %}

{% block content %}	

{{ breadCrumbMacro(rowsBreadCrumb, "Crear una pauta para un grupo concreto") }}

<!-- Titulo -->

<div class="columns is-vcentered is-centered" style="height: 10px; margin-top:30px">

	<div class="column is-one-third">
		<hr>
	</div>

	<div class="column is-one-third" align="center">
		<h3 class="title is-3">Crear una pauta para un grupo concreto</h3>
	</div>
	
	<div class="column is-one-third">
		<hr>
	</div>
</div>

<div class="columns is-vcentered is-centered" style="margin-top:50px">

	<div class="column is-8 box" align="center">
		<div class="box">
        	{{ groupInfoMacro(groupInfo) }}
    	</div>

        <br>

			<h4 class="title is-4">Datos de la nueva pauta</h4>
		    <form action="" id="generalForm" method="post" novalidate onSubmit="submitFunc()">
		        {{ form.hidden_tag() }}
		        {{ form.csrf_token }}

		        <div class="columns is-vcentered is-centered" style="margin-top:30px">
					<div class="column is-2">
					</div>
		        	<div class="column is-8">
				        <p>
				            <b>{{ form.name.label }}</b> {{ form.name(size=5, maxlength=15) }}
				            
				            {% for error in form.name.errors %}
				            <span style="color: red;">[{{ error }}]</span>
				            {% endfor %}
				        </p>
			        </div>
			        <div class="column is-2">
					</div>
		        </div>

		        <br>

	            <b>{{ form.description.label }}</b> <br>
	            {{ form.description(maxlength=50) }} 

		        <br>

	            <b>{{ form.intensity1.label }}</b> &nbsp;&nbsp; {{ form.intensity1 }}

		        <br>

	            <b>{{ form.intensity2.label }}</b> &nbsp;&nbsp; {{ form.intensity2 }}

		        <br>

	            <b>{{ form.intensity3.label }}</b> &nbsp;&nbsp; {{ form.intensity3 }}

		        <br><br>
		        
		        {{ form.submit() }}
		        {{ form.returnBtn }}

		    </form>

		<br>

	</div>


</div>

{% endblock %}