{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% block head %}

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

            $(function () {

                if(document.getElementById('syncHidden')!= null && document.getElementById('syncHidden').value=="True"){
                    isNotEditable();


                    socket.on('connect', function() {
                        socket.emit('registerPatientEvent', {"registrationToken": document.getElementById("registrationToken").value, "windowToken": document.getElementById("windowToken").value});
                    });

                    socket.on('redirect', function() {
                        generateNotification("success", "Usuario registrado correctamente");
                        window.location.href = 'index';
                    });

                } else {
                    isEditable();
                }
            })
        });


        namespace = '/registerPatient';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        function isEditable(){
            document.getElementById('name').removeAttribute('readonly');
            document.getElementById('surname1').removeAttribute('readonly');
            document.getElementById('surname2').removeAttribute('readonly');
            document.getElementById('age').removeAttribute('readonly');

            document.getElementById("name").style.backgroundColor = "";
            document.getElementById("surname1").style.backgroundColor = "";
            document.getElementById("surname2").style.backgroundColor = "";
            document.getElementById("age").style.backgroundColor = "";

            document.getElementById("submitBtn").style.display = "block";
            document.getElementById("cancelBtn").style.display = "none";

            document.getElementById("syncDiv").style.display = "none";

            document.getElementById("gender-0").disabled = false;
            document.getElementById("gender-1").disabled = false;
        }

        function isNotEditable(){
            document.getElementById("name").setAttribute("readonly", "");
            document.getElementById("surname1").setAttribute("readonly", "");
            document.getElementById("surname2").setAttribute("readonly", "");
            document.getElementById("age").setAttribute("readonly", "");

            document.getElementById("name").style.backgroundColor = "#f1f1f1";
            document.getElementById("surname1").style.backgroundColor = "#f1f1f1";
            document.getElementById("surname2").style.backgroundColor = "#f1f1f1";
            document.getElementById("age").style.backgroundColor = "#f1f1f1";

            document.getElementById("submitBtn").style.display = "none";
            document.getElementById("cancelBtn").style.display = "block";

            document.getElementById("syncDiv").style.display = "block";

            document.getElementById("gender-0").disabled = true;
            document.getElementById("gender-1").disabled = true;
        }


        function submitFunc(){
            if(document.getElementById("syncNow").checked == true){
                document.getElementById('syncHidden').value = "True";
            } else {
                document.getElementById('syncHidden').value = "False";
            }
            
            document.getElementById('generalForm').submit();
        }

        function cancelRegister(){
            isEditable();
        }

    </script>

{% endblock %}

{% block content %}


<section id="contact" class="section section-light-grey">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Registrar paciente</h2>
            <p class="subtitle is-5 is-muted"> Introduce los datos del paciente </p>
            <hr width="32%" style="margin-left: 34%"/>
        </div>
    </div>
    <div class="hero-body" style="margin-top:-40px">
        <div class="container">
            <div class="columns is-centered"">
                <article class="card is-rounded">
                    <div class="card-content">
                        <form action="" method="post" id="generalForm" novalidate>
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="name" name="name" class="input is-medium" placeholder="Nombre" style="text-align:center;" size="32" value={{ form.name.data }}>

                                    {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="surname1" name="surname1" class="input is-medium" placeholder="Primer apellido" style="text-align:center;" size="32" value={{ form.surname1.data }}>

                                    {% for error in form.surname1.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="surname2" name="surname2" class="input is-medium" placeholder="Segundo apellido" style="text-align:center;" size="32" value={{ form.surname2.data }}>

                                    {% for error in form.surname2.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="age" name="age" class="input is-medium" placeholder="Edad" style="text-align:center;" size="32" value={{ form.age.data }}>

                                    {% for error in form.age.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </span>
                                </div>
                            </div>

                            <br>

                            <div class="field" align="center">
                                <!--<label for="gender">Género</label> &nbsp;&nbsp;&nbsp;&nbsp; <input id="gender-0" name="gender" type="radio" value="M"> <label for="gender-0">Masculino</label>&nbsp;&nbsp;&nbsp;&nbsp;<input id="gender-1" name="gender" type="radio" value="F"> <label for="gender-1">Femenino</label>-->
                                <div class="columns is-centered"">
                                        {{ form.gender.label }}: &nbsp;&nbsp;&nbsp;&nbsp;

                                        {% for subfield in form.gender %}
                                            {{ subfield }} &nbsp;&nbsp;
                                            {{ subfield.label }}
                                            &nbsp;&nbsp;
                                        {% endfor %} 
                                </div>
                            </div>
                            

                            <br>

                            <div align="center">
                                <label class="checkbox" align="center">
                                    {{ form.syncNow() }}{{ form.syncNow.label }}
                                </label>
                            </div>

                            <br>

                            <div align="center" id="buttonDiv">
                                {{ form.cancelBtn }}
                                {{ form.submitBtn }}
                            </div>

                            {{ form.windowToken }}
                        </form>

                    </div>
                </article>

                <article class="card is-rounded" id="syncDiv" style="display:none">
                    <div class="columns is-vcentered is-centered" style="margin-top:100px">
                        <div class="column is-2">
                        </div>
                        <div class="column is-6 box">
                            <p><b> Token para emparejar al paciente con la pulsera</b>: <b>{{ form.registrationToken.data }}</b></p>
                            <hr>
                            <p> <b>Importante</b>: por motivos de seguridad, es necesario emparejar la pulsera con el dispositivo en los próximos 5 minutos <br> (es decir antes de las {{ timeLimit }}). En caso de no realizar el emparejamiento en dicho intervalo, el registro del usuario se considerará inválido y deberá volver a realizarse.</p>

                        </div>
                        <div class="column is-2">
                        </div>
                    </div>
                </article>

                <br>    
                
            </div>
        </div>
    </div>
</section>

{% endblock %}