{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import groupsTableMacro with context %}
{% from 'macros.html' import patientsTableMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
    	$(document).ready(function() {
    		$(function () {
            	$('#paginationSelect').multipleSelect();
            	$('#paginationSelect2').multipleSelect();
    		})
    	});
    </script>

    <!-- SocketIO methods -->
    <script>
    	namespace = '/viewPattern';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        function paginationFunc(){
        	socket.emit('paginationGroup', {"idPattern": {{ idPattern }}, "groupPage": document.getElementById("paginationSelect").value});
        }

        function paginationFunc2(){
        	socket.emit('paginationPatient', {"idPattern": {{ idPattern }}, "patientPage": document.getElementById("paginationSelect2").value});
        }

        socket.on('paginationGroup', function(message) {

            var bodyContent = "";

            //No registers, but also no errors
            if(message.body == ""){
                $("#tablePatterns tbody").html("");
            }else {
                var rows = message.body.split(";");

                for(i=0; i<rows.length; i++){
                    var cols = rows[i].split(",");

                    bodyContent += "<tr>"
                    
                    //Name
                    bodyContent += "<td>"+cols[1]+"</td>"
                    //View pattern
                    bodyContent += "<td><a href=/verGrupo/"+ cols[0] +"} target=\"_blank\"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>"
                    
                    bodyContent += "</tr>"
                }
            }

            $("#tableGroups tbody").html(bodyContent);
        });

        socket.on('paginationPatient', function(message) {

            var bodyContent = "";

            //No registers, but also no errors
            if(message.body == ""){
                $("#tablePatients tbody").html("");
            }else {
                var rows = message.body.split(";");

                for(i=0; i<rows.length; i++){
                    var cols = rows[i].split(",");

                    bodyContent += "<tr>"
                    
                    //Name
                    bodyContent += "<td>"+cols[1]+"</td>"
                    //Surname1
                    bodyContent += "<td>"+cols[2]+"</td>"
                    //Surname2
                    bodyContent += "<td>"+cols[3]+"</td>"
                    //Gender
                    bodyContent += "<td>"+cols[4]+"</td>"
                    //Age
                    bodyContent += "<td>"+cols[5]+"</td>"
                    //View pattern
                    bodyContent += "<td><a href=/verPaciente/"+ cols[0] +"} target=\"_blank\"><i class='fas fa-eye'></i> &nbsp; Ver </a> </td>"
                    
                    bodyContent += "</tr>"
                }
            }

            $("#tablePatients tbody").html(bodyContent);
        });
    </script>

{% endblock %}

{% block content %}	

<br>

{{ titleMacro("Ver una pauta") }}

<!-- Input data -->

<div class="columns is-vcentered is-centered">

	<div class="column is-8 box" align="center">

		<div align="center">
			<h4 class="title is-4">Datos de la pauta</h4>

			<b> Nombre</b>:&nbsp;&nbsp; {{ patternInfo.name }}
			<br><br>
			<b> Descripción </b>:&nbsp;&nbsp; {{ patternInfo.description }}
			
			<br><br>
            
			<b>Intensidad amarilla</b>:&nbsp;&nbsp;&nbsp;&nbsp;

			{% if patternInfo.intensity1=="No" %}
                No&nbsp;&nbsp;<span style='color:red;'><i class='fas fa-times'></i></span>
            {% else %}
                Sí&nbsp;&nbsp;<span style='color:green;'><i class='fas fa-check'></i></span>
            {% endif %}
			
			<br><br>
            
			<b>Intensidad naranja</b>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			{% if patternInfo.intensity2=="No" %}
                No&nbsp;&nbsp;<span style='color:red;'><i class='fas fa-times'></i></span>
            {% else %}
                Sí&nbsp;&nbsp;<span style='color:green;'><i class='fas fa-check'></i></span>
            {% endif %}

			<br><br>
            
			<b>Intensidad roja</b>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			{% if patternInfo.intensity2=="No" %}
                No&nbsp;&nbsp;<span style='color:red;'><i class='fas fa-times'></i></span>
            {% else %}
                Sí&nbsp;&nbsp;<span style='color:green;'><i class='fas fa-check'></i></span>
            {% endif %}            

		</div>

		<br><div style='max-width:400px'><hr></div><br>

        <div class="box" style='max-width:1000px'>
            <h4 class="title is-4 is-spaced">Pacientes que incluyen esta pauta</h4>
            {% if rowsPatients|length > 0 %}
            	{{ patientsTableMacro(rowsPatients, 0) }}
            {% endif %}

            Número de registros totales: <b>{{ numberRowsPatient }}</b>

        	{% if pagesPatients > 1 %}
                <br>
        		{{ form2.pagination.label }} &nbsp;&nbsp; {{ form2.pagination }}
    		{% endif %}
        </div>
        
        <div style='max-width:400px'><hr></div>

        <div class="box" style='max-width:1000px'>
            <h4 class="title is-4 is-spaced">Grupos de pautas que incluyen esta pauta</h4>



        	<div id="tablearea" align="center" class="box">
        	{% if rowsGroups|length > 0 %}
    	    	{{ groupsTableMacro(rowsGroups, 0) }}
        	{% endif %}
        	
        	Número de registros totales: <b>{{ numberRowsGroup }}</b>
        	
        	{% if pagesGroups > 1 %}
                <br>
        		{{ form.pagination.label }} &nbsp;&nbsp; {{ form.pagination }}
        	{% endif %}
        </div>

        <div style='max-width:400px'><hr></div>

        <div id="divBtns" align="center">
            <a href=/editarPauta/{{ patternInfo.id }} target="_blank"><input class="button is-warning" type="button" value="Editar pauta" ></a>
        </div>
    </div>
</div>

{% endblock %}