{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

<!-- Import macros -->

{% from 'macros.html' import titleMacro with context %}

{% from 'macros.html' import modalCancelMacro with context %}

{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import groupsTableMacro with context %}
{% from 'macros.html' import patternsTableMacro with context %}
{% from 'macros.html' import patientInfoMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- Multiselect, accordion and general scripts -->
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {     
            //Multiselect 
            $(function () {
                $('#patternsSelect').multipleSelect();
                $('#groupsSelect').multipleSelect();
                var accordions = bulmaAccordion.attach();

                document.getElementById("gender-0").disabled = true;
                document.getElementById("gender-1").disabled = true;
            })
        });

        function modifyPatientInfo(){
            location.href = location.protocol + '//' + location.host + "/modificarPaciente/"+{{idPatient}};
        }

        function newPattern(){
            location.href = location.protocol + '//' + location.host + "/registrarPauta/"+{{idPatient}};
        }

        function linkPattern(){
            location.href = location.protocol + '//' + location.host + "/enlazarPautas/"+{{idPatient}};
        }

        function unlinkPattern(pattId){
            location.href = location.protocol + '//' + location.host + "/modificarPaciente/"+{{idPatient}} + "?unlinkPatt=" + pattId;
        }

    </script> 

    <!-- SocketIO methods -->
    <script>
        namespace = '/viewPatient';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        function episodesFunc(){
            socket.emit('episodes', {"idPatient": {{idPatient}}, "date1": document.getElementById("date1").value, "time1": document.getElementById("time1").value, "date2": document.getElementById("date2").value, "time2": document.getElementById("time2").value});
        }

        socket.on('episodes', function(message) {

            var bodyContent = "";

            //No registers, but also no errors
            if(message.body == ""){
                $("#episodesTable tbody").html("");
            }else {
                var rows = message.rowEpisodes.split(";");

                for(i=0; i<rows.length; i++){
                    var cols = rows[i].split(",");

                    bodyContent += "<tr>"
                    
                    //Date
                    bodyContent += "<td>"+cols[0]+"</td>";
                    //First date
                    bodyContent += "<td>"+cols[1]+"</td>";
                    //Last date
                    bodyContent += "<td>"+cols[2]+"</td>";
                    //Yellow alerts
                    bodyContent += "<td>"+cols[5]+"</td>";
                    //Orange alerts
                    bodyContent += "<td>"+cols[6]+"</td>";
                    //Red alerts
                    bodyContent += "<td>"+cols[7]+"</td>";
                    //View episode
                    bodyContent += "<td><a href=/verUnEpisodio?idPatient="+{{idPatient}}+"&timestampFrom="+cols[3]+"&timestampTo="+cols[4]+" style='color:#3273dc'><i class='fas fa-eye'></i>Ver</a></td>";
                    
                    bodyContent += "</tr>"
                }
            }

            $("#episodesTable tbody").html(bodyContent);

            if(document.getElementById("date1").value.length == 0){
                document.getElementById("date1").value = "2000-01-01";
                document.getElementById("time1").value = "00:00";
            } else if(document.getElementById("time1").value.length == 0){
                document.getElementById("time1").value = "00:00";
            }

            if(document.getElementById("date2").value.length == 0){
                document.getElementById("date2").value = "2050-01-01";
                document.getElementById("time2").value = "23:59";
            } else if(document.getElementById("time2").value.length == 0){
                document.getElementById("time2").value = "23:59";
            }            
        });

    </script>    

{% endblock %}

{% block content %}
<!-- Modal[Cancelar] -->
{{ modalCancelMacro() }}

{{ breadCrumbMacro(rowsBreadCrumb, form.name.data + ' ' + form.surname1.data) }}

{{ titleMacro("Ver paciente") }}

<div class="columns is-vcentered is-centered">
    <div class="column is-8" align="center">
        <article class="card is-rounded">
            <div class="card-content">
                {{ patientInfoMacro(patientInfo) }}

                <br>

                <div id="divBtns" align="center">
                    <input class="button is-primary" id="saveBtn" name="saveBtn" onclick="modifyPatientInfo()" type="button" value="Modificar">
                </div>

                <div style='max-width:400px'><hr></div>

                <div class="box" style='max-width:1000px' align="center">
                    <h4 class="title is-4 is-spaced">Pautas asociadas</h4>
                    {% if rowsPatterns|length > 0 %}
                        {{ patternsTableMacro(rowsPatterns, 0, 1) }}
                    {% endif %}

                    Número de registros totales: <b>{{ numberRowsPattern }}</b>
                    {% if pagesPatterns > 1 %}
                        <br>
                        {{ form3.pagination.label }} &nbsp;&nbsp; {{ form3.pagination }}
                    {% endif %}

                    <br><br>

                    {{ form.newPatternBtn }} {{ form.linkPatternBtn }}

                </div>                

                <div style='max-width:400px'><hr></div><br>


                <div class="box" style='max-width:1000px' align="center">
                    <h4> Ver episodios del paciente </h4>                        
                        <h4 class="title is-4">Filtrar resultados</h4>
                        <form action="" id="episodesForm" method="post" novalidate>
                            {{ form4.hidden_tag() }}
                            {{ form4.csrf_token }}

                            <br>

                            <!-- FROM -->
                            <div class="columns is-vcentered is-centered">
                                <div class="column is-5">
                                    <div class="columns is-vcentered is-centered">
                                        <div class="column is-3">
                                            {{ form4.date1.label }}
                                        </div>
                                        <div class="column is-7">
                                            {{ form4.date1 }}
                                            {% for error in form4.date1.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns is-vcentered is-centered">
                                        <div class="column is-3">
                                            {{ form4.time1.label }}
                                        </div>
                                        <div class="column is-7">
                                            {{ form4.time1 }}
                                            {% for error in form4.time1.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>                    
                            </div>

                            <!-- TO -->
                            <div class="columns is-vcentered is-centered">
                                <div class="column is-5">
                                    <div class="columns is-vcentered is-centered">
                                        <div class="column is-3">
                                            {{ form4.date2.label }}
                                        </div>
                                        <div class="column is-7">
                                            {{ form4.date2 }}
                                            {% for error in form4.date2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns is-vcentered is-centered">
                                        <div class="column is-3">
                                            {{ form4.time2.label }}
                                        </div>
                                        <div class="column is-7">
                                            {{ form4.time2 }}
                                            {% for error in form4.time2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>                    
                            </div>

                            <br>
                            {{ form.unlinkPatternId }}
                            {{ form4.searchBtn2 }}
                        
                        </form>

                        <table id="episodesTable" class="table">
                            <thead>
                                <th> <span> Fecha </span></th>
                                <th> <span> Hora de inicio </span></th>
                                <th> <span> Fecha de fin </span></th>
                                <th> <span> Alertas amarillas </span></th>
                                <th> <span> Alertas naranjas </span></th>
                                <th> <span> Alertas rojas </span></th>
                                <th> <span> Ver episodio </span></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}