{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import oneEpisodeTableMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    <script>

        var usdeur = [
    [Date.UTC(2007, 0, 1, 0, 0, 0), 0.7537],
    [Date.UTC(2007, 0, 2, 0, 20, 0), 0.7537],
    [Date.UTC(2007, 0, 3, 0, 30, 0), 0.7559],
    [Date.UTC(2007, 0, 4, 0, 40, 0), 0.7631],
    [Date.UTC(2007, 0, 5, 0, 50, 0), 0.7644],
    [Date.UTC(2007, 0, 8, 0, 55, 0), 0.769],
    ];

        $(function() {
            var chart = new Highcharts.StockChart({
                
                chart: {
                    renderTo: 'container'
                },
                
                xAxis: {
                    events: {
                        afterSetExtremes: function(e) {
                            $('#report').html('<b>Set extremes:</b> e.min: '+ Highcharts.dateFormat(null, e.min) +
                                ' | e.max: '+ Highcharts.dateFormat(null, e.max));
                        }
                    }
                },
                
            rangeSelector: {
                buttons: [{
                    type: 'hour',
                    count: 1,
                    text: '1h'
                }, {
                    type: 'day',
                    count: 1,
                    text: '1D'
                }, {
                    type: 'all',
                    count: 1,
                    text: 'All'
                }],
                selected: 1,
                inputEnabled: true
            },
                
                series: [{
                    name: 'Explorar episodio',
                    data: usdeur
                }]
            });
        });
    </script>

{% endblock %}

{% block content %}

<section id="contact" class="section section-light-grey">
    {{ titleMacro("Ver un episodio concreto") }}
</section>

<div class="columns is-vcentered is-centered">
    <div class="column is-1">
    </div>

    <div class="column is-8 box">

        
        <div align="center">
            <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="container" style="height: 400px; min-width: 600px"></div>
            <div id="report" style="font: 0.8em sans-serif"></div>

            {{ oneEpisodeTableMacro(rowEpisodes) }}
        </div>


    <div class="column is-1">
    </div>

</div>

{% endblock %}