{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}
{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import addUrlPrefixMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ addUrlPrefixMacro(ASSET_URL) }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ addUrlPrefixMacro(ASSET_URL) }}"></script>
    {% endassets %}
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$(function () {
			  $('select').multipleSelect()
			})
		});
	</script>

{% endblock %}

{% block content %}	

{{ breadCrumbMacro(rowsBreadCrumb, "Crear una pauta") }}

<div class="columns is-vcentered is-centered" style="margin-top:50px">
	<div class="column is-1">
	</div>

	<div class="column is-8 box">

		<div align="center">
			<h4 class="title is-4">Datos sobre la pauta</h4>
		    <form action="" id="generalForm" method="post" novalidate onSubmit="submitFunc()">
		        {{ form.hidden_tag() }}
		        {{ form.csrf_token }}

		        <div class="columns is-vcentered is-centered">
		        	<div class="column is-8">
			            <b>{{ form.name.label }}</b> <br>
			            
			            {{ form.name(style="max-width:617px;text-align: center;") }}
			            
			            {% for error in form.name.errors %}
			            <span style="color: red;">[{{ error }}]</span>
			            {% endfor %}
			        </div>
		        </div>

		        <br>

	            <b>{{ form.description.label }}</b> <br>
	            {{ form.description(maxlength=50) }} 

		        <br><br>

	            <b>{{ form.intensity1.label }}</b> &nbsp;&nbsp; {{ form.intensity1 }}

		        <br>

	            <b>{{ form.intensity2.label }}</b> &nbsp;&nbsp; {{ form.intensity2 }}

		        <br>

	            <b>{{ form.intensity3.label }}</b> &nbsp;&nbsp; {{ form.intensity3 }}

		        <br>

	            <b>{{ form.intensity4.label }}</b> &nbsp;&nbsp; {{ form.intensity4 }}
		        <br><br>

                <div align="center">
                    {{ form.groups.label }}

                    <br>

                    {{ form.groups }}
                </div>

		        <br>
		        
		        {{ form.registerDone }}
		        
		        {{ form.submit() }}

		    </form>
		</div>

		<br>

	</div>


	<div class="column is-1">
	</div>


</div>

{% endblock %}
