{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

{% from 'macros.html' import groupsTableMacro with context %}
{% from 'macros.html' import patientsTableMacro with context %}
{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import addUrlPrefixMacro with context %}
{% from 'macros.html' import patternInfoMacro with context %}
{% from 'macros.html' import titleMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ addUrlPrefixMacro(ASSET_URL) }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ addUrlPrefixMacro(ASSET_URL) }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
    	$(document).ready(function() {
    		$(function () {
    		    window.history.pushState({}, document.title, "{{ addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=patternInfo.id)) }}");
    		
            	$('#paginationSelect').multipleSelect();
            	$('#paginationSelect2').multipleSelect();
            	$('#paginationSelect2').multipleSelect();
            	$('#patientsSelect').multipleSelect();
            	$('#groupsSelect').multipleSelect();
            	document.getElementById("boxLinkPatients").style.display = "none";
            	document.getElementById("boxLinkGroups").style.display = "none";            	
    		})
    	});
    </script>

    <!-- SocketIO methods -->
    <script>

        function paginationFunc(){
            console.log("[DEBUG] TODO.");
        }

        function paginationFunc2(){
        	console.log("[DEBUG] TODO.");
        }
        
        function modifyPattern(){
            location.href = "{{ addUrlPrefixMacro(url_for('patterns.editPattern', idPattern=patternInfo.id)) }}";
        }        

        function unlinkPatient(patiId){
            location.href = "{{ addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=patternInfo.id)) }}?unlinkPati=" + patiId;
        }

        function unlinkGroup(groupId){
            location.href = "{{ addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=patternInfo.id)) }}?unlinkGroup=" + groupId;
        }
        
        function linkPatients(){
            if(document.getElementById("patientsSelect").value == ""){
                generateNotification("alert", "No se ha seleccionado ningún paciente");
            } else {
                var patis = $("#patientsSelect").multipleSelect('getSelects').toString();
                location.href = "{{ addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=patternInfo.id)) }}?linkPatis=" + patis;
            }
        }
        
        function linkGroups(){
            if(document.getElementById("groupsSelect").value == ""){
                generateNotification("alert", "No se ha seleccionado ningún grupo");
            } else {
                var groups = $("#groupsSelect").multipleSelect('getSelects').toString();            
                location.href = "{{ addUrlPrefixMacro(url_for('patterns.viewPattern', idPattern=patternInfo.id)) }}?linkGroups=" + groups;            
            }            
        }        
        
        function linkPatientsVisibility(){
            if(document.getElementById("boxLinkPatients").style.display == "none"){
                document.getElementById("boxLinkPatients").style.display = "block";
            } else {
                document.getElementById("boxLinkPatients").style.display = "none";
            }   
        }
        
        function linkGroupsVisibility(){
            if(document.getElementById("boxLinkGroups").style.display == "none"){
                document.getElementById("boxLinkGroups").style.display = "block";
            } else {
                document.getElementById("boxLinkGroups").style.display = "none";
            }   
        }        
    </script>

{% endblock %}

{% block content %}	

{{ breadCrumbMacro(rowsBreadCrumb, patternInfo.name) }}

{{ titleMacro(patternInfo.name) }}


<!-- Input data -->

<div class="columns is-vcentered is-centered">

	<div class="column is-8 box" align="center">

        {{ patternInfoMacro(patternInfo) }}
        
        <div id="divBtns" align="center">
            <input class="button is-primary" id="saveBtn" name="saveBtn" onclick="modifyPattern()" type="button" value="Modificar">
        </div>

		<br><div style='max-width:400px'><hr></div><br>

        <div class="box" style='max-width:1000px'>
            <h4 class="title is-4 is-spaced">Pacientes que incluyen esta pauta</h4>
            {% if rowsPatients|length > 0 %}
            	{{ patientsTableMacro(rowsPatients, 2) }}
            {% endif %}

            Número de registros totales: <b>{{ numberRowsPatient }}</b>

        	{% if pagesPatients > 1 %}
                <br>
        		{{ form2.pagination.label }} &nbsp;&nbsp; {{ form2.pagination }}
                <br>
    		{% endif %}

            <br><br>            

            <div class="field">
                <input type="checkbox" id="switchLinkPatients" class="switch is-thin" onchange="linkPatientsVisibility()">
                <label for="switchLinkPatients">&nbsp;&nbsp;Enlazar a nuevos pacientes</label>
            </div>

            <div class="box" id="boxLinkPatients" style='max-width:400px'>
                <form action="" id="patientsForm" method="post" novalidate">
                    {{ form3.patients.label }}
                    <br>
                    {{ form3.patients }}
                    <br><br>
                    {{ form3.submitBtn }}
                    {{ form3.patientSubmit }}
                </form>
            </div>
            
            
        </div>
        
        <div style='max-width:400px'><hr></div>

        <div class="box" style='max-width:1000px'>
            <h4 class="title is-4 is-spaced">Grupos de pautas que incluyen esta pauta</h4>



        	<div id="tablearea" align="center" class="box">
        	{% if rowsGroups|length > 0 %}
    	    	{{ groupsTableMacro(rowsGroups, 2) }}
        	{% endif %}
        	
        	Número de registros totales: <b>{{ numberRowsGroup }}</b>
        	
        	{% if pagesGroups > 1 %}
                <br>
        		{{ form.pagination.label }} &nbsp;&nbsp; {{ form.pagination }}
        	{% endif %}

            <br><br>

            <div class="field">
                <input type="checkbox" id="switchLinkGroups" class="switch is-thin" onchange="linkGroupsVisibility()">
                <label for="switchLinkGroups">&nbsp;&nbsp;Enlazar a nuevos grupos</label>
            </div>

            <div class="box" id="boxLinkGroups" style='max-width:400px'>
                <form action="" id="groupsForm" method="post" novalidate">
                    {{ form4.groups.label }}
                    <br>
                    {{ form4.groups }}
                    <br><br>
                    {{ form4.submitBtn }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
