{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

<!-- Import macros -->
{% from 'macros.html' import titleMacro with context %}
{% from 'macros.html' import patternsTableMacro with context %}
{% from 'macros.html' import pagination with context %}
{% from 'macros.html' import modalDeleteMacro with context %}
{% from 'macros.html' import breadCrumbMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$(function () {
			  $('#patientsSelect').multipleSelect();
			  $('#groupsSelect').multipleSelect();
			  $('#intensitiesSelect').multipleSelect();
			  $('#paginationSelect').multipleSelect();
			})
		});

		function submitFunc(){
			//Store pagination
			if(document.getElementById("paginationSelect") == null){
				document.getElementById("pageNumber").value = 1;
			} else {
				document.getElementById("pageNumber").value = parseInt(document.getElementById("paginationSelect").value);
			}

			//Remove parameters from url before submitting
            window.history.pushState({}, document.title, "/verPautas");
			
			document.getElementById("generalForm").submit();
		}

		//This is done just to allow code reuse of forms
		function paginationFunc(){
			submitFunc();
		}

        function confirmDeleteMacro(){

            var deleteElem = document.getElementById("deleteId").value;

            var url = new URL(location.protocol + '//' + location.host + location.pathname);
            var search_params = new URLSearchParams(url.search); 
            
            search_params.set('deleteElem', deleteElem);

            url.search = search_params.toString();

            location.href = url.toString();
        }

        function displayModalDelete(id, name){
            var modalDiv = document.getElementById("page-modal-delete");
            document.getElementById("textDeleteMacro").innerHTML = "<ul style='list-style-type:disc;'><li>" + name + "</ul></li>";
            document.getElementById("deleteId").value = id;
            modalDiv.style.display = "block";
        }
	</script>

{% endblock %}

{% block content %}	

{{ modalDeleteMacro("de esta pauta") }}

{{ breadCrumbMacro(rowsBreadCrumb, "Ver pautas") }}

<!-- Title -->
<section id="contact" class="section section-light-grey">
    {{ titleMacro("Ver pautas") }}
</section>

<div class="columns is-vcentered is-centered">
    <div class="column is-9 box" align="center">

        <br>

        <div class="columns is-centered">

            <div class="column is-3" align="center">
            	<br><br>
                <h5 class="title is-5">Filtrar pautas</h5>
			    <form action="" id="generalForm" method="post" novalidate onSubmit="submitFunc()">
			        {{ form.hidden_tag() }}
			        {{ form.csrf_token }}
			        {{ form.deleteId }}
			        {{ form2.pageNumber }}
			        {{ form2.submitDone }}

	        		{{ form.name.label }}

	        		<br>

	        		{{ form.name(size=5, maxlength=15) }}
	        		{% for error in form.name.errors %}
	        			<span style="color: red;">[{{ error }}]</span>
	        		{% endfor %}

	        		<br>

	        		{{ form.patients.label }}

	        		<br>

	        		{{ form.patients(size=5, maxlength=15) }}
	        		{% for error in form.patients.errors %}
	        			<span style="color: red;">[{{ error }}]</span>
	        		{% endfor %}

	        		<br>

	        		{{ form.groups.label }}

	        		<br>

	        		{{ form.groups(size=5, maxlength=15) }}
	        		{% for error in form.groups.errors %}
	        			<span style="color: red;">[{{ error }}]</span>
	        		{% endfor %}

	        		<br>

	        		{{ form.intensities.label }}

	        		<br>

	        		{{ form.intensities(size=5, maxlength=15) }}
	        		{% for error in form.intensities.errors %}
	        			<span style="color: red;">[{{ error }}]</span>
	        		{% endfor %}

	        		<br><br>

	        		{{ form.searchBtn }}
			    </form>
            </div>

            <div class="column is-7" align="center">
		    	<br>
		    	<div id="tablearea" align="center" class="box">
			    	{{ patternsTableMacro(rowPatterns, 0, 2) }}
			    	
			    	Número de registros totales: <b>{{ numberTotalRows }}</b>
			    	
			    	{% if numberPages > 1 %}
			    		<br>
			    		{{ form2.pagination.label }} &nbsp;&nbsp; {{ form2.pagination }}
			    	{% endif %}
		    	</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
