/*, tr, td*/
th{
  text-align:center !important;
}

.ms-parent {
  text-align:left;
  margin-left: 5px;
  width: 250px;
}

.ms-drop ul li{
    margin-left: 15px;
}


/*input[type=date], input[type=time] {
    width: 50%;
}*/
