{% extends "base.html" %}

{% set logged = True %}
{% set therapistName = therapistLiteral %}

<!-- Import macros -->

{% from 'macros.html' import patternsTableMacro with context %}
{% from 'macros.html' import patientsTableMacro with context %}
{% from 'macros.html' import breadCrumbMacro with context %}
{% from 'macros.html' import addUrlPrefixMacro with context %}
{% from 'macros.html' import linkPatternsMacro with context %}

{% block head %}

    {% assets "accordionMultiselectCss" %}
        <link rel="stylesheet" href="{{ addUrlPrefixMacro(ASSET_URL) }}" type="text/css" />
    {% endassets %}

    {% assets "accordionMultiselectJs" %}
        <script type="text/javascript" src="{{ addUrlPrefixMacro(ASSET_URL) }}"></script>
    {% endassets %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(function () {
                window.history.pushState({}, document.title, "{{ addUrlPrefixMacro(url_for('groups.viewGroup', idGroup=idGroup)) }}");
                
                $('#paginationSelect').multipleSelect();
                $('#paginationSelect2').multipleSelect();
                $('#patternsSelect').multipleSelect();
                $('#patientsSelect').multipleSelect();
                $('#groupsSelect').multipleSelect();
                $('#intensitiesSelect').multipleSelect();
                
                document.getElementById("boxLinkPatterns").style.display = "none";     
            })
        });

        function newPattern(){
            location.href = "{{ addUrlPrefixMacro(url_for('groups.registerPatternGroup', idGroup=idGroup)) }}";
        }
        
        function linkPattern(){
            location.href = "{{ addUrlPrefixMacro(url_for('groups.linkPatternsGroup', idGroup=123456)) }}".replace(123456, {{idGroup}});
        }        
        
        function unlinkPattern(pattId){
            location.href = "{{ addUrlPrefixMacro(url_for('groups.viewGroup', idGroup=idGroup)) }}?unlinkPatt=" + pattId;
        }

        function modifyGroup(){
            var url = "{{ url_for('groups.editGroup', idGroup=idGroup) }}";
            location.href = url;
        }
        
        function linkPatternsVisibility(){
            if(document.getElementById("boxLinkPatterns").style.display == "none"){
                document.getElementById("modifyPatternsVisibilityBtn").className = "button is-link";
                document.getElementById("modifyPatternsVisibilityBtn").value = "Ocultar  ✖";
                document.getElementById("boxLinkPatterns").style.display = "block";
            } else {
                document.getElementById("modifyPatternsVisibilityBtn").className = "button is-primary";
                document.getElementById("modifyPatternsVisibilityBtn").value = "Enlazar a una nueva pauta  ✚";
                document.getElementById("boxLinkPatterns").style.display = "none";
            }   
        }
        
		function linkPatterns(){
			var checkboxes = document.getElementsByName("checkboxPattPat");
			var pattIds = "";

			for (var i=0; i<checkboxes.length; i++) {
			  if (checkboxes[i].checked) {
			    pattIds += checkboxes[i].id.replace("checkbox_", "") + ",";
			    checkboxes[i].checked = false;
			  }
			}

			if(pattIds.length > 0){
				pattIds = pattIds.substring(0, pattIds.length-1);

				location.href = "{{ addUrlPrefixMacro(url_for('groups.viewGroup', idGroup=idGroup)) }}" + "?linkPattIds=" + pattIds;
			} else {
				generateNotification("alert", "No se ha seleccionado ninguna pauta");
			}
		}                     
    </script>    

{% endblock %}

{% block content %}

{{ breadCrumbMacro(rowsBreadCrumb, "Ver un grupo de pautas") }}

<!-- Input data -->

<div class="columns is-vcentered is-centered">

    <div class="column is-8 box" align="center">
        <h4 class="title is-4">Datos del grupo de pautas</h4>
        <b> Nombre</b>:&nbsp;&nbsp; {{ groupInfo.name }}
        <br><br>
        <b> Descripción </b>:&nbsp;&nbsp; {{ groupInfo.description }}

        <br><br>

        <a onclick="modifyGroup()"><input class="button is-primary" type="button" value="Modificar"></a>

        <div style='max-width:400px'><hr></div>

        <div class="box" style='max-width:1000px'>
            <h4 class="title is-4 is-spaced">Pautas incluidas en este grupo</h4>

            {% if rowsPatterns|length > 0 %}
                {{ patternsTableMacro(rowsPatterns, 0, 1) }}
            {% endif %}

            Número de registros totales: <b>{{ numberRowsPattern }}</b>
            {% if pagesPatterns > 1 %}
                <br>
                {{ form.pagination.label }} &nbsp;&nbsp; {{ form.pagination }}
            {% endif %}

            <br><br>

            <input class="button is-link" id="newPatternBtn" name="newPatternBtn" onclick="javascript:newPattern()" type="button" value="Registrar una nueva pauta">
            
            <br><br>

            <div align="center">
                <input class="button is-primary" id="modifyPatternsVisibilityBtn" onclick="linkPatternsVisibility()" type="button" value="Enlazar una nueva pauta&nbsp;&nbsp;✚">
            </div>
            
            <br>
            
            <div class="box" id="boxLinkPatterns">
                {{ linkPatternsMacro(form3, form4, rowLinkPatt, numberTotalRowsLinkPatt, numberPagesLinkPatt) }}
            </div>            
        </div>

    </div>

</div>

{% endblock %}
